button {
    padding: 0;
    margin: 0;
    border: 0;
} 

input {
    padding: 0;
    margin: 0;
    border: 0;
}

.superbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    background-color: grey;
}


/* eu defini os itens como colun e center na classe box*/

.box {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
}

.inp {
    width: 50px;
    height: 37px;
    flex-shrink: 0;
    margin-right: 3px;
    padding: 10px;
}

.inp2 {
    width: 89px;
    height: 37px;
    flex-shrink: 0;
    margin-right: 3px;
}

/* este é o css da classe soma*/

.operacao {
    display: flex;
    
}

.button-action {
    width: 37px;
    height: 37px;
    background: #FF8000;
    color: white;
    cursor: pointer;
}

.button-result {
    width: 89px;
    height: 37px;
    background: #FF8000;
    color: white;
    cursor: pointer;
}

.meio {
    vertical-align: middle;
}