body {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #363636;
}


button {
    padding: 0;
    margin: 0;
    border: 0;
} 

input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    padding-left: 10px;
}

p {
    
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    transform: rotate(180deg);
}


.superbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}


/* eu defini os itens como colun e center na classe box*/

.box {
    display: flex;
    flex-direction: column;
    padding: 6px;
    background-color: #C0C0C0;
    border-radius: 4px;
    gap: 3px;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza texto */
    max-width: 300px; /* Defina um valor máximo para largura, se desejar */
    width: 100%;
}

.inp {
    width: 40px;
    height: 37px;
    flex-shrink: 0;
    margin-right: 3px;
    
}

.inp2 {
    width: 79px;
    height: 37px;
    flex-shrink: 0;
    margin-right: 3px;
    margin-left: 3px;
}

/* este é o css da classe soma*/

.operacao {
    display: flex;
    height: 37px;
    
}

.button-action {
    width: 37px;
    height: 37px;
    background: #FF8000;
    color: white;
    cursor: pointer;
    margin-right: 3px;
}

.button-result {
    width: 50px;
    height: 37px;
    background: #FF8000;
    color: white;
    cursor: pointer;
}

